.blog-heading{
	background-color: #000000;
	text-align: center;
	font-size: 30px;
	padding-bottom: 30px;
	padding-top: 32px;
	font-family: 'Lobster', cursive;
	position:relative;
} 

.blog-body{
	background-color: #ffffff;
	padding: 27px 10px 17px;
}

#container{
	padding:25px;
}

#title .date{
	font-size:17px;
} 

#title{
	color:#dd93f2;
}

.enclose-img {/* div surrounding imgs*/
	position:absolute;
	border-radius: 100%;
	overflow: hidden;
	width: 90px;
	height: 90px;
}

#colorfly{
	left: 300px;
	top: 1px;
	width: 128px;
	height: 89px;
	margin-top:6px;
}


#colorfly img{
	position: absolute;
	width: 159px;
	left: -21px;
	top: 0px;
} 

